.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  margin-top: 5%;
  margin-bottom: 5%;

  .title,
  .subtitle {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    text-decoration: underline;
  }

  .buttons {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: 640px) {
    .title {
      font-size: 2rem;
    }

    .buttons {
      display: flex;
      gap: 16px;
      flex-direction: row;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
}

.phantomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;

  background-image: url("/Phantom.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  button {
    height: 50px;
  }
}

.checkStatusButton {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
